<!DOCTYPE html>
<html lang="pt-BR" ng-app="cursosModulo">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="imagens/favicon.ico">

	<title>Cursos - Sistema Web IV</title>

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- Custom styles for this template -->
	<link href="css/carousel.css" rel="stylesheet">
	<link href="css/estilos.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->

<body ng-controller="cursosController">

	<!-- <div ng-include="'menus.html'"></div> -->

	<!-- .container -->
	<div class="container">
		<div class="row">
			<h1 class="text-center">Cadastro de Cursos</h1>
		</div>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="id" class="col-sm-2 control-label">Código</label>
				<div class="form-group col-sm-10">
					<input type="text" class="form-control" id="id" ng-model="curso.id" placeholder="Código" readonly>
				</div>
			</div>
			<div class="form-group">
				<label for="nome" class="col-sm-2 control-label">Nome</label>
				<div class="form-group col-sm-10">
					<input type="text" class="form-control" id="nome" ng-model="curso.nome" placeholder="Nome">
				</div>
			</div>
			<div class="form-group">
				<label for="horario" class="col-sm-2 control-label">Dias e Horários</label>
				<div class="form-group col-sm-10">
					<input type="text" class="form-control" id="horario" ng-model="curso.diashorarios" placeholder="Dias e Horários">
				</div>
			</div>
			<div class="form-group">
				<label for="professor" class="col-sm-2 control-label">Professor</label>
				<div class="form-group col-sm-10">
					<select name="" class="form-control" ng-model="curso.professor" ng-options="professor.nome for professor in professores track by professor.id">
					</select>
				</div>
			</div>
			<div class="form-group text-center">
				<button type="submit" class="btn btn-success" ng-click="limparCampos()">Novo</button>
				<button type="submit" class="btn btn-primary" ng-click="salvar()" ng-disabled="!curso.nome">Gravar</button>
				<button type="submit" class="btn btn-danger" ng-click="excluir()" ng-disabled="!curso.id">Excluir</button>
			</div>
		</form>

		<div class="row">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
					<input type="text" class="form-control" ng-model="pesquisaCurso" placeholder="Pesquise...">
				</div>
			</div>

			<table class="table table-bordered table-striped">
				<tr>
					<th>Código</th>
					<th>Descrição</th>
					<th>Dias e Horários</th>
					<th>Professor</th>
				</tr>
				<tr ng-repeat="c in cursos | filter:pesquisaCurso" ng-click="selecionarCurso(c)">
					<td>{{c.id}}</td>
					<td>{{c.nome}}</td>
					<td>{{c.diashorarios}}</td>
					<td>{{c.professor.nome}}</td>
				</tr>
			</table>
		</div>

	</div>
	<!-- /.container -->

	<!-- FOOTER -->
	<div class="container">
		<div class="row">
			<footer style="margin-top: 50px">
				<p class="pull-right"><a href="#">Back to top</a></p>
				<p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
			</footer>
		</div>
	</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery1.12.4.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')
	</script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="controller/cursos.js"></script>
</body>

</html>